.box-sizedetail {
    background-color:#eee;
    justify-content: center;
    padding-top: 80px;
}


.c-detailbox {
    display: flex;

    .c-bgdetailmovie {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 300px;
        height: 450px;
    }

    .c-bodydetail {
        
    }
    
    .c-sinopsisdetail {
        box-sizing: border-box;
    }
}